
/* FONT SIZES */
.fs-s {
  font-size: 1rem;
}

.fs-m {
  font-size: 1.25rem;
}

.fs-l {
  font-size: 1.5rem;
}

.fs-xl {
  font-size: 2rem;
}

.fs-xxl {
  font-size: 2.5rem;
}
/* ------- */

.accordion .accordion-header > button {
  color: #000000;
}

.card-fav-button {
  position: absolute;
  top: 10px;
  right: 10px;
}

.btn-unstyled {
  border: 0 none;
  background: none;
  padding: 0;
  margin: 0;
  z-index: 1;
}